<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a href="#" class="navbar-brand my-0 mr-md-auto">
    <img src="../../assets/img/logo.png" alt="" style="float: right">
  </a> 
  <nav class="my-2 my-md-0 mr-md-3" style="padding-top: 15px; padding-bottom: 20px;">
      <a href="" class="phone">+27 42 293 0792</a>
      <br>
      <br>
    <a class="p-2 active" href="#">Home</a>
    <a class="p-2" href="#">Property search</a>
    <a class="p-2" href="#">Tools</a>
    <a class="p-2" href="#">About Us</a>
    <a class="p-2" href="#">Contact Us</a>
  </nav>
</div>