a {
    text-transform: uppercase;
    font-weight: 600;
    color: #6c757d;
    text-decoration: none;
}

a:hover {
    color: #1682c2;
}

a.active {
    border: 1px solid #d61478;
    color: #d61478;
}

.phone {
    color: #1682c2;
    font-weight: 600;
    padding-top: 10px;
    float: right; 
    padding-right: 8px;
    text-decoration: none;
}

.phone::before {
    content: url(../../assets/img/phone.png);
    padding-right: 15px;
}

.phone:hover {
    color: #d61478;
}

@media screen and (max-width: 834px) and (min-width: 768px) {
    
}