<footer>
  <div class="container">
    <p>Browse: Home | Residential For Sale [5] | Residential To Let [33] | Commercial To Let [11] | Vacant Land [2] | Area Profiles | List Your Property | Property Email Alerts | Calculators | Latest News | Email Newsletter | Company Profile | Agent Search | Contact Us | Website Map | Links | Privacy Policy</p>
    <hr>
    <p>Residential For Sale [54]: Amanzimtoti [12] | Athlone park [3] | Doonside [6] | Warner Beach [11] | St Winifreds[4] | Residential To Let [54]: Amanzimtoti [12] | Athlone Park [3] | Doonside [6] | Warner Beach [11] | St Winifreds [4] | </p>
    <div class="row">
      <div class="col-md-9">
        <a href="#" id="pd-logo"><img src="../../assets/img/pd-logo.svg" alt=""></a>
          Website Powered by Prop Data
          <br>
          Copyright &copy; 2019 Property Citi Jeffreys Bay
      </div>
      <ul class="col-md-3">
          <li><img src="../../assets/img/googleplus.svg" alt="Googe plus icon" class="social-icons"></li>
          <li><img src="../../assets/img/youtube.svg" alt="YouTube icon" class="social-icons" style="padding-right: 25px"></li>
          <li><img src="../../assets/img/twitter.svg" alt="Twitter icon" class="social-icons" style="padding-right: 25px; padding-top: 2px"></li>
          <li><img src="../../assets/img/facebook.svg" alt="Facebook icon" class="social-icons" style="padding-right: 25px"></li>
      </ul>
    </div>
  </div>
</footer>