<footer>
  <div class="container">
    
    <p>Browse: Home | On Show | Residential Homes For Sale | Residential Homes To Let | Vacant Land | New Developments | Calculators | Area Profiles | General Advice | Company Profile | Agent Search | Contact Us | Website Map | Useful Links | Privacy Policy</p>
    <hr>
    <p>Residential For Sale [54]: Amanzimtoti[12] | Athlone park[3] | Doonside[6] | Warner Beach[11] | St Winifreds[4] | Residential To Let[54]: Amanzimtoti[12] | Athlone park[3] | Doonside[6] | Warner Beach[11] | St Winifreds[4] | </p>
    <div class="row">
      <div class="col-md-10">
          Website Powered by Prop Data
          <br>
          Copyright &copy; 2017 Property Nerds
      </div>
      <div class="col-md-2">
        <a href="#"><img class="social-icons" src="img/if_facebook_social_media_online_970002.png" alt="Facebook icon"></a>
        <a href="#"><img src="img/if_twitter_social_media_online_970003.png" alt="Twitter icon" class="social-icons"></a>
        <a href="#"><img src="img/if_google__plus__icon__social__media_2986196.png" alt="Googe plus icon" class="social-icons"></a>
        <a href="#"><img src="img/if_youtube_social_media_online_970009.png" alt="YouTube icon" class="social-icons"></a>
      </div>
    </div>
  </div>
</footer>