<div class="row">
  
  <div class="col-md-4" style="padding-left: 0px;">
    <div class="media">
        <img src="../../assets/img/arrow.svg" class="align-self-start mr-3" alt="...">
        <div class="media-body">
          <p>Get details and directions for our upcoming <b>showdays</b></p>
        </div>
      </div>
  </div>

  <div class="col-md-4">
    <div class="media">
        <img src="../../assets/img/calculator.svg" class="align-self-start mr-3" alt="...">
        <div class="media-body">
          <p>Use our <b>calculators</b> to ensure you stay within budget</p>
        </div>
      </div>
  </div>

  <div class="col-md-4" style="padding-right: 0px;">
    <div class="media">
        <img src="../../assets/img/bubble.svg" class="align-self-start mr-3" alt="...">
        <div class="media-body">
          <p><b>Chat to an agent</b> to start marketing your home</p>
        </div>
      </div>
  </div>
</div>