<div class="container">
  <div class="row d-none d-sm-block" style="margin-bottom: -30px;">
    <nav aria-label="breadcrumb" class=".d-none .d-md-block .d-xl-none">
      <ol class="breadcrumb">
        You are here:&nbsp;<li class="breadcrumb-item"><a href="#">Property Citi Jeffreys Bay</a></li>
        <li class="breadcrumb-item active" aria-current="page">Homepage</li>
      </ol>
    </nav>
  </div>

  <div class="row" style="padding-bottom: 15px;">
    <div class="col-10">
      <h2>Property Citi Jeffreys Bay</h2>
    </div>
    
    <div class="col-2 d-none d-sm-block">
      <img  style="float: left; margin: 0px; margin-left: 40px;" class="top-icons animated" id="print_icon" src="./../../assets/img/baseline_print_black_18dp.png" alt="Print">
      <img style="float: right;" class="top-icons animated" id="share_icon" src="./../../assets/img/baseline_share_black_18dp.png" alt="Share">
    </div>
  </div>

  <div class="row">
    <div class="col-12" >
      <p style="border-top: 1px solid #c4c4c4; padding-top: 30px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur cum tempore sint, sunt ab a harum perspiciatis nemo reprehenderit commodi dolores tempora, voluptas dolor iusto nostrum dolorum distinctio modi velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas deserunt blanditiis harum earum nesciunt, mollitia excepturi, a eum cumque enim error aperiam aliquam molestias atque nostrum! Aspernatur alias quia ea! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, aliquid odio accusantium, ea maxime vitae, atque aut nisi enim ad.</p>
    </div>
    
  </div>
  
    <a href="#" id="more">Read More</a>
  
  <app-featured></app-featured>
  <app-cards></app-cards>
</div>

