<div class="container">

  <div class="row d-none d-sm-block" style="margin-bottom: -30px;">
    <nav aria-label="breadcrumb" class=".d-none .d-md-block .d-xl-none">
      <ol class="breadcrumb">
        You are here:&nbsp;<li class="breadcrumb-item"><a href="#">Property Citi Jeffreys Bay</a></li>
        <li class="breadcrumb-item active" aria-current="page">Homepage</li>
      </ol>
    </nav>
  </div>

  <div class="row" style="margin-bottom: 50px">
    <div class="col-10">
      <h1>Property Citi Jeffreys Bay</h1>
    </div>
    <div class="col-2 d-none d-sm-block">
      <img class="top-icons animated" id="print_icon" src="img/baseline_print_black_18dp.png" alt="Print">
      <img class="top-icons animated" id="share_icon" src="img/baseline_share_black_18dp.png" alt="Share">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur cum tempore sint, sunt ab a harum perspiciatis nemo reprehenderit commodi dolores tempora, voluptas dolor iusto nostrum dolorum distinctio modi velit.</p>
    </div>
  </div>

  <div class="row d-none d-sm-block" style="margin-bottom: 25px; margin-top: 25px;">
    <div class="offset-11 col-1">
      <a href="#" class="more">Read More</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Featured&nbsp; &nbsp; Properties</h2>
    </div>
  </div>
  

  <section class="row">
    <div class="col-md-6">
      <div class="card shadow-sm animated">
        <div class="new">NEW</div>
        <a href="#"><img class="card-img-top" src="img/property1.jpg" alt="Card image cap"></a>
        <div class="web-ref row">
          <div class="mandate col-6">New, Sole Mandate</div>
          <div class="refPA col-6"> Web Ref PA9303</div>
        </div>
        <div class="card-body">
          <h4>R110 Per m</h4>
          <p class="card-text">200m<span class="cubic"></span> Office to let in Stellenbosch</p>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-6 shadow-sm animated">
          <div class="new">NEW</div>
          <a href="#"><img class="card-img-top" src="img/property2.jpg" alt="Card image cap"></a>
          <div class="web-ref row">
              <div class="mandate col-6">New, Sole Mandate</div>
              <div class="refPA col-6"> Web Ref PA9303</div>
            </div>
          <div class="card-body">
            <h4>R110 Per m</h4>
            <p class="card-text">200m<span class="cubic"></span> Office to let in Stellenbosch</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
  </section>

  <section class="banner col-md-10 offset-md-1 col-12">
    <img src="img/banner.svg" class="img-fluid d-none d-sm-block" alt="Banner" style="position: absolute;">
    <div class="animated call col-10">
      <a href="#"><img src="img/Give us a Call !.svg" class="img-fluid wow bounceIn" alt="Give Us a Call!" ></a>
    </div>
    <div class="wow lightSpeedIn">
      <p>Our nerds are ever ready to assist you with all your <br> property needs.</p>
    </div>
  </section>
  
  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<app-featured></app-featured>

<app-cards></app-cards>