<div class="container">
  <div class="row d-none d-sm-block" style="margin-bottom: -30px;">
    <nav aria-label="breadcrumb" class=".d-none .d-md-block .d-xl-none">
      <ol class="breadcrumb">
        You are here:&nbsp;<li class="breadcrumb-item"><a href="#">Property Nerds</a></li>
        <li class="breadcrumb-item active" aria-current="page">Homepage</li>
      </ol>
    </nav>
  </div>

  <div class="row" style="margin-bottom: 50px">
    <div class="col-10">
      <h1>Property Nerds</h1>
    </div>
    <div class="col-2 d-none d-sm-block">
      <img class="top-icons animated" id="print_icon" src="img/baseline_print_black_18dp.png" alt="Print">
      <img class="top-icons animated" id="share_icon" src="img/baseline_share_black_18dp.png" alt="Share">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur cum tempore sint, sunt ab a harum perspiciatis nemo reprehenderit commodi dolores tempora, voluptas dolor iusto nostrum dolorum distinctio modi velit.</p>
    </div>
  </div>

  <div class="row d-none d-sm-block" style="margin-bottom: 25px; margin-top: 25px;">
    <div class="offset-11 col-1">
      <a href="#" class="more">More</a>
    </div>
  </div>
</div>

<app-featured></app-featured>

<app-cards></app-cards>