#myCarousel {
    margin-bottom: 25px;
    position: relative; 
    bottom: 200px; 
    margin-bottom: -200px;
    z-index: -1;
}

img {
    margin-top: -300px;
}

@media screen and (max-width: 834px) and (min-width: 768px){
    img {
        margin-top: 0px;
    }
}