<div class="row">
  <div class="col-12">
    <h2>Featured Properties</h2>
  </div>
</div>

<section class="row">
  <div *ngFor="let feature of featured" class="col-md-6">
    <div class="card shadow-sm animated">
      <div class="new">NEW</div>
      <a href="#"><img class="card-img-top" src="{{feature.imagePath}}" alt="Card image cap"></a>
      <div class="card-body">
        <h4>{{feature.price}}</h4>
        <p class="card-text">{{feature.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
        </div>
      </div>
    </div>
  </div>
</section>