h2 {
    margin-top: 80px;
    margin-bottom: 35px;
}

.new {
    position: absolute;
    background-color: #d51378;
    color: white;
    padding: 4px 12px;
    box-sizing: border-box;
}

.card {
    border: 1px solid rgba(204, 204, 204, 1);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0px;
}

.card-body {
    padding: 15px 0px 0px 0px;
}

.card-body h4 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #97c82d;
    font-weight: bold;
}

.card-text {
    margin: 0px;
    font-weight: bold;
}