<section class="row">
  <div class="col-md-6">
    <div class="card shadow-sm animated">
      <div class="new">NEW</div>
      <a href="#"><img class="card-img-top" src="img/property1.jpg" alt="Card image cap"></a>
      <div class="web-ref row">
        <div class="mandate col-6">New, Sole Mandate</div>
        <div class="refPA col-6"> Web Ref PA9303</div>
      </div>
      <div class="card-body">
        <h4>R110 Per m</h4>
        <p class="card-text">200m<span class="cubic"></span> Office to let in Stellenbosch</p>
        <div class="d-flex justify-content-between align-items-center">
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
      <div class="card mb-6 shadow-sm animated">
        <div class="new">NEW</div>
        <a href="#"><img class="card-img-top" src="img/property2.jpg" alt="Card image cap"></a>
        <div class="web-ref row">
            <div class="mandate col-6">New, Sole Mandate</div>
            <div class="refPA col-6"> Web Ref PA9303</div>
          </div>
        <div class="card-body">
          <h4>R110 Per m</h4>
          <p class="card-text">200m<span class="cubic"></span> Office to let in Stellenbosch</p>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
</section>