.carousel-form {
    background-color: #1682c2;
    padding: 25px 30px 5px 30px;
    position: absolute;
    bottom: 100px;
}

.form-control {
    border-radius: 0px;
}

.form-row {
    color: white;
}

select.down-arrow {
    appearance: none;
    background-image: url(../../../assets/img/arrow_down.png);
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1.5em auto, 100%;
    /* padding-left: 1px; */
}

select.up-arrow {
    appearance: none;
    background-image: url(../../../assets/img/arrow_up.png);
    background-repeat: no-repeat;
    background-position: left .7em top 50%, 0 0;
    background-size: 1.5em auto, 100%;
    text-align: right;
    margin-right: 25px;
}

input.webRef {
    background-image: url(../../../assets/img/repeat_1.png);
    background-repeat: no-repeat;
    background-position: left .7em top 50%, 0 0;
    background-size: 1em auto, 100%;
    padding-right: 50px;
    text-align: center;
}

.btn {
    background-color: #97c82d;
    color: white;
    border-radius: 0px;
    float: right;
    transition: background-color .5s ease-out;
}

.btn:hover {
    background-color: #d51378;   
}

.btn > img {
    height: 1em;
    margin-bottom: 3px;
    margin-right: 3px;
}

.blue-input {
    background-color: #1682c2;
    color: white;
}

.blue-input::placeholder{
    color: white;
}

@media screen and (max-width: 1440px) {
    .carousel-form {
        bottom: 350px;
    }

    select.down-arrow {
        background-position: right .1em top 50%, 0 0;
        background-size: 1em auto, 100%;
    }

    input.webRef {
        background-position: left .3em top 50%, 0 0;
        background-size: 1em auto, 100%;
        padding-right: 0px;
    }
}