<form class="carousel-form col-12 col-sm-12 col-md-12 col-lg-8 offset-lg-2" action="">
  <div class="form-row">
    <div class="form-group col-1 col-md-1 col-sm-4">
      <select id="inputState" class="form-control down-arrow">
        <option>Buy</option>
        <option >Option 1</option>
      </select>
    </div>
    <div class="form-group col-3 col-md-3 col-sm-4">
      <select id="inputState" class="form-control down-arrow">
        <option select>Residential</option>
        <option >Option 1</option>
      </select>
    </div>
    <div class="form-group col-8 col-md-8 col-sm-4">
      <input type="text" class="form-control" placeholder="Type Area or Suburb Name">
    </div>
  </div>
  
  <div >
    <input type="text" class="form-control blue-input col-md-3 webRef" style="float: left; " placeholder="Web Ref Number Search">
  </div>
  <div>
    <button type="button" class="btn mb-3"><img src="../../../assets/img/magnifying_glass.png" alt=""> SEARCH</button>
  </div> 
  <div style="float: right; margin-right: 10px;">
    <select class="form-control up-arrow blue-input">
      <option select>More Search Options</option>
      <option >Option 1</option>
    </select>
  </div>  
</form>